{% extends 'main/base.html' %}
{% load static %}

{% block title %}
О компании
{% endblock %}

{% block content %}
    <div class="zalogo"><h1>О нас</h1></div>
    <div class="text">
     <p>Компания «Продукты глубокой заморозки» — производитель замороженных полуфабрикатов с самым широким ассортиментом в России. На сегодняшний день мы выпускаем продукцию 13-ти категорий, в каждой из которых 
        — десятки наименований. <br>
        
         У нас широкий выбор вкуснейших сытных и десертных блинчиков, высококачественных пельменей премиум-класса, изысканной пиццы, вареников, готовых блюд, выпечки, замороженных овощных миксов. Наш ассортимент постоянно пополняется новой продукцией — компания «Продукты глубокой заморозки» не стоит на месте, постоянно создавая новые вкуснейшие продукты, способные стать достойным дополнением вашего стола. <br>
        
        Производственные мощности наших заводов больше, чем объём производства первых 10 производителей из общего рейтинга поставщиков ключевых федеральных сете производственного процесса. Вероятность
         ошибки исключена!</p>
</div>

{% endblock %}